extends layout

block content
  #content

    div.feed
      ul.clearfix
        - each item in feed
          li
            - if (item.type == "TWEET")
              <blockquote class="twitter-tweet"><p><a href="https://twitter.com/twitterapi/status/#{item.id}" data-datetime="2011-11-07T20:21:07+00:00"></a></blockquote>
            - if (item.type == "INSTAGRAM")
              p
                | <img class="profile-pic" src="#{item.instagram.user.profile_picture}"/> <strong>#{item.user}</strong> #{item.text}
              <img class="instagram-pic" src="#{item.image.url}"/>
            - if (item.type == "NOTIFICATION")
              div.notification
                <img src="/images/beer.png"/>
                p
                  |<strong>At #{item.pub}</strong>
                p
                  |see <a href="/map">map</a> | <a href="/schedule">schedule</a>
