extends layout

block content
  #content

    div.feed
      ul.clearfix
        - each item in feed
          li
            - if (item.type == "TWEET")
              p
                | #{item.user} #{item.text}
            - if (item.type == "INSTAGRAM")
              p
                | #{item.user} #{item.text}
              <img src="#{item.image.url}"/>
            - if (item.type == "NOTIFICATION")
              p
                |At #{item.pub}
              p
                |see <a href="/map">map</a> | <a href="/schedule">schedule</a>
