doctype 5
html
  head
    title= title
    meta(content="initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/images/beer.png', rel='shortcut icon')
  body
    #container
      header
        #hamburger
          div
          div
          div
        h1= title
      nav
        ul

          li
            a(href='/') (Ho ho) Home!
          li
            if slug == 'feed'
              a(href='/feed', class="active") Feed
            else
             a(href='/feed') Feed
          li
            if slug == 'map'
              a(href='/map', class="active") Map
            else
             a(href='/map') Map
          li
            if slug == 'schedule'
               a(href='/schedule', class='active') Schedule
            else
              a(href='/schedule') Schedule



        div#colophon
          h3
            | About
          p.hide
            | Hastily handmade in Brooklyn in December, 2013 by <a href="https://twitter.com/juannerito">@juannerito</a> and <a href="https://twitter.com/lukasmairl">@lukasmairl</a> using <a href="http://nodejs.org/">node.js</a> and <a href="https://www.heroku.com/">heroku.</a> Badly.


      #contentLayer
      block content
    script.
      var pubs = !{JSON.stringify(pubs)}
    script(src="https://maps.googleapis.com/maps/api/js?key=#{gmaps}&v=3.exp&sensor=false")
    script(src="./javascripts/libs/jquery-1.10.2.min.js")
    script(src="./javascripts/libs/jquery-ui-1.10.3.custom.min.js")
    script(src="./javascripts/index.js")
    script(src="./javascripts/maps.js")
    script(src="//platform.twitter.com/widgets.js")
