doctype 5
html
  head
    title= title
    meta(content="initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      header
        #hamburger
          div
          div
          div
        h1= title
      nav
        ul
          li
            a(href='/feed') Feed
          li
            a(href='/map') Map
          li
            a(href='/schedule') Schedule
      #contentLayer
      block content
    script.
      var pubs = !{JSON.stringify(pubs)}
    script(src="https://maps.googleapis.com/maps/api/js?key=#{gmaps}&v=3.exp&sensor=false")
    script(src="./javascripts/libs/jquery-1.10.2.min.js")
    script(src="./javascripts/libs/jquery-ui-1.10.3.custom.min.js")
    script(src="./javascripts/index.js")
    script(src="./javascripts/maps.js")